<nav class="navbar">
  <div class="nav-container">
    <div class="nav-links">
      <a href="/" class="nav-link">Home</a>
      <a href="/people/" class="nav-link">People</a>
      <a href="/research/" class="nav-link">Research</a>
      <a href="/publications/" class="nav-link">Publications</a>
      <a href="/contact/" class="nav-link">Contact</a>
    </div>
  </div>
</nav>
